body {
    text-align: center;
    background-color: rgb(12, 124, 79);
}

#titleScreen {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:black;
}
#titleContent {
    background-color: black;
}

.adventurer:hover {
    height: 190px;
    cursor: pointer;
}

.lives {
    z-index: 1;
    position: absolute;
    display: none;
    margin-left: 5%;
}

.heart {
    width: 50px;
    height: 50px;
}

#winScreen {
    background-color: black;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;

}

#winScreen button.continue {
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
    width: 10%;
    height: 5%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#winScreen button.exit {
    position: absolute;
    top: 30%;
    left: 58.8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
    width: 6%;
    height: 5%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#gameOver {
    background-color: black;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
}
#gameOver img {
    margin: auto;
}
#gameOver button.continue {
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    width: 10%;
    height: 5%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#gameOver button.exit {
    position: absolute;
    top: 30%;
    left: 58.8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    width: 6%;
    height: 5%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}